.bg-primary {
    background-color: rgb(26, 188, 156) !important;
}

.bg-secondary {
    background-color: rgb(44, 62, 80) !important;
}

.color-primary {
    color: rgb(26, 188, 156);
}

.color-secondary {
    color: rgb(44, 62, 80);
}

.color-white {
    color: white;
}

.picture {
    width: 16em;
}

.header {
    padding: 10em 0;
}

.border-left {
    max-width: 7em;
    border-radius: 1em;
    margin-right: 1em;
}

.border-right {
    max-width: 7em;
    border-radius: 1em;
    margin-left: 1em;
}

.section-padding {
    padding: 6em 0;
}

.divider-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider-line-custom {
    width: 100%;
    max-width: 5.8em;
    height: 0.25rem;
    border: 1rem;
    border-radius: 1rem;
}

.divider-line-icon {
    margin: 0 1rem;
    font-size: 1.8rem;
}

.cover-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(26, 188, 156, 0.7);
    transition: opacity 0.4s;
}

.cover-image:hover {
    opacity: 0.8;
}

.cover-wrapper {
    position: relative;
}

.form-control {
    line-height: 4rem;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

form button {
    padding: 16px 28px;
    border: 2px;
}

footer i {
    font-size: 2.6rem;
}

.copyright {
    background-color: rgb(26, 37, 47);
}

.copyright small {
    margin: 2em 0em;
}

footer a {
    color: rgb(17, 156, 129);
}